/* CSS Admin Usuarios */

.container-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 1rem;
  margin-left: 1rem;
}

.search-div {
  width: 250px;
  margin-top: auto;
}

.search-form {
  width: 250px;
  margin-left: 1rem;
}

/* CSS Admin Productos */

.form-productos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
  margin-right: 0px;
}

.form-productos-control {
  width: 340px;
}
.form-productos-control-precio {
  width: 300px;
  display: inline-block;
}
.form-productos-prepend {
  width: 40px;
  display: inline-block;
}

.button-form-productos {
  margin-left: 6rem;
  margin-top: 1rem;
}

/* Media Querys */

@media only screen and (max-width: 990px) {
  .table-buttons {
    margin-top: 5px;
  }
}

@media only screen and (min-width: 990px) {
  .table-buttons {
    margin-top: 5px;
  }
}

@media only screen and (min-width: 1314px) {
  .table-buttons {
    margin-top: 0px;
  }
} ;
