.container-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 100%;
}

.search-div {
  width: 250px;
  margin-top: auto;
}

.search-form {
  width: 250px;
  margin-left: 1rem;
}
