.letra-seccion {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 30px;
    text-align: left;
}
.letra-seccion-medioAmbiente {
    font-size: 96px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-align: center;
    padding-top: 50px;
}
.logo-seccion {
    width: 62px;
    height: 76px;
    text-align: center;
    display: inline-block;
    vertical-align: initial;
}
.letra-titulo {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 80px;
    text-align: center;
    padding-top: 30px;
}
.letra-subtitulo {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 48px;
    text-align: center;
    padding-bottom: 40px;
}
.letra-num {
    font-family: "Permanent Marker", cursive;
    font-size: 48px;
    text-align: center;
}
.fondo-card {
    background-color: #1d1d1f;
    border-radius: 20px;
    min-height: 520px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}
.letra-card-grande {
    font-size: 64px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #fff;
    text-align: center;
    padding-top: 45px;
}
.imagen-card {
    width: 300px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.listado-card {
    border-radius: 20px;
    text-align: center;
}
.letra1 {
    font-size: 40px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #1d1d1f;
    text-align: center;
}
.letra2 {
    font-size: 50px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #1d1d1f;
    text-align: center;
    padding-top: 20px;
}
.toggle-button-container{
    background:#00D959 ;
    width: 172px;
    height: 104px;
    align-items: center;
    transition: linear;
    --animation-duration: 0.4s;
    border-radius: 999px;
    margin: auto;
    display: flex;
}
.toggle-button-indicator{
    transform: translateX(75px);
    width: 90px;
    height: 90px;
    display: block;
    background: #fff;
    box-shadow: 0px 10px 15px 0px rgb(0 0 0 / 12%);
    transition: transform var(--animation-duration) ease-in-out;
    border-radius: 999px;
}
.letra2a {
    font-size: 30px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #1d1d1f;
    text-align: center;
    padding-top: 30px;
}
.letra3 {
    font-size: 40px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #1d1d1f;
    text-align: center;
    padding-top: 10px;
}
.letra4-blanca {
    font-size: 60px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-align: center;
}
.letra4-verde {
    font-size: 60px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-align: center;
    animation: verde-neon 5s infinite alternate;
}
@keyframes verde-neon {
    0%,
    10%,
    15%,
    20%,
    30%,
    35%,
    40%,
    50%,
    55%,
    60%,
    70%,
    80%,
    85%,
    90%,
    100% {
        text-shadow: 9px 9px 18px #00d959;
    }

    50% {
        text-shadow: none;
    }
}
.letra-seccion-accesibilidad {
    font-size: 96px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-align: center;
    padding-top: 60px;
}
.letra-card-accesibilidad {
    font-size: 64px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #1d1d1f;
    text-align: center;
    padding-top: 45px;
}
.letra4 {
    font-size: 46px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-align: center;
}

.letra1-accesibilidad {
    font-size: 60px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color:#fff ;
    text-align: center;
    padding: 72px;
}
.volume-icon{
    padding-left: 10px;
}
.letra-parrafo-privacidad{
    font-size: 19px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color:#1d1d1f;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.letra-card-privacidad1{
    font-size: 32px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #fff;
}
.letra-parrafo-privacidad1{
    color: #fff;
    font-size: 17px;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.video-privacidad1{
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
padding-left: 20px ;
padding-right: 0px;
}
.fondo-card1 {
    border-radius: 20px;
    max-height: 800px;
    max-width: 900px;
    align-items: center;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

   