body {
    background-color: #f5f5f7;
}
.letra-valores {
    font-size: 21px;
    font-weight: 550;
    text-align: left;
    padding-top: 25px;
    letter-spacing: inherit;
    color: #000;
    opacity: 0.88;
}
.letra-seccion-medioAmbiente {
    font-size: 96px;
    text-align: center;
    padding-top: 50px;
}
.logo-seccion {
    width: 62px;
    height: 76px;
    text-align: center;
    display: inline-block;
    vertical-align: initial;
}
.letra-titulo {
    font-size: 80px;
    text-align: center;
    padding-top: 30px;
}
.letra-subtitulo {
    font-size: 48px;
    text-align: center;
    padding-bottom: 60px;
}
.letra-num {
    font-family: "Permanent Marker", cursive;
    font-size: 48px;
    text-align: center;
}
.fondo-card {
    background-color: #1d1d1f;
    border-radius: 20px;
    min-height: 520px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}
.letra-card-grande {
    font-size: 64px;
    color: #fff;
    text-align: center;
    padding-top: 45px;
}
.imagen-card {
    width: 300px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.listado-card {
    border-radius: 20px;
    text-align: center;
}
.letra1 {
    font-size: 40px;
    color: #1d1d1f;
    text-align: center;
}
.letra2 {
    font-size: 50px;
    color: #1d1d1f;
    text-align: center;
    padding-top: 20px;
}
.toggle-button-container {
    background: #00d959;
    width: 172px;
    height: 104px;
    align-items: center;
    border-radius: 999px;
    margin: auto;
    display: flex;
}
.toggle-button-indicator {
    transform: translateX(75px);
    width: 90px;
    height: 90px;
    display: block;
    background: #fff;
    box-shadow: 0px 10px 15px 0px rgb(0 0 0 / 12%);
    border-radius: 999px;
}
.letra2a {
    font-size: 30px;
    color: #1d1d1f;
    text-align: center;
    padding-top: 30px;
}
.letra3 {
    font-size: 40px;
    color: #1d1d1f;
    text-align: center;
    padding-top: 10px;
}
.letra4-blanca {
    font-size: 60px;
    text-align: center;
}
.letra4-verde {
    font-size: 60px;
    text-align: center;
    animation: verde-neon 5s infinite alternate;
}
@keyframes verde-neon {
    0%,
    10%,
    15%,
    20%,
    30%,
    35%,
    40%,
    50%,
    55%,
    60%,
    70%,
    80%,
    85%,
    90%,
    100% {
        text-shadow: 9px 9px 18px #00d959;
    }

    50% {
        text-shadow: none;
    }
}
.letra-seccion-accesibilidad {
    font-size: 96px;
    text-align: center;
    padding-top: 60px;
}
.letra-card-accesibilidad {
    font-size: 64px;
    color: #1d1d1f;
    text-align: center;
    padding-top: 45px;
}
.letra4 {
    font-size: 46px;
    text-align: center;
}

.letra1-accesibilidad {
    font-size: 60px;
    color: #fff;
    text-align: center;
    padding: 74px;
}

.imagen-fondo{
    background-image: url(https://www.apple.com/v/accessibility/p/images/overview/audio_descriptions__ejb8ddn8vp26_medium_2x.jpg);
    width: 100%;
    height:100%;
    background-position: right;
}
.letra3-accesibilidad {
    font-size: 60px;
    color:#f5f5f7;
    text-align: center;
    padding: 74px;
    padding-bottom: 100px;
}
.color-change-2x {
    -webkit-animation: color-change-2x 3s linear infinite alternate both;
    animation: color-change-2x 2s linear infinite alternate both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-5-24 21:3:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes color-change-2x {
    0% {
        background:#e0def4 ;
    }
    100% {
        background:#a9a5d3 ;
    }
}
@keyframes color-change-2x {
    0% {
        background:#e0def4 ;
    }
    100% {
        background:#b2aee0ee ;
    }
}
.letra1-accesibilidad2 {
    font-size: 60px;
    color: #1D1D1F;
    text-align: center;
    padding: 74px;
}
.letra-seccion-privacidad {
    font-size: 96px;
    text-align: center;
    padding-top: 50px;
}
.letra-parrafo-privacidad {
    font-size: 19px;
    color: #1d1d1f;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.letra-card-privacidad1 {
    font-size: 32px;
    color: #fff;
}
.letra-parrafo-privacidad1 {
    color: #fff;
    font-size: 17px;
}
.video-privacidad1 {
    padding-left: 20px;
    padding-right: 0px;
}
.fondo-card1 {
    border-radius: 20px;
    max-height: 800px;
    max-width: 900px;
    align-items: center;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.letra-directivos {
    font-size: 21px;
    font-weight: 550;
    text-align: left;
    padding-top: 70px;
    letter-spacing: inherit;
    color: #000;
    opacity: 0.88;
}
.letra-seccion-directivos {
    text-align: center;
    font-size: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img-directivos {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* width: 230px; */
    max-height: 320px;
}
.listado-card-directivos {
    border-radius: 10px;
    text-align: center;
}

/* ICONOS DE FONT AWESOME */
.volume-icon {
    padding-left: 10px;
    color: #92d9b9;
}
.plus-icon-negro{
    font-size: 1rem;
    color: black;
}
.plus-icon-blanco{
    font-size: 1rem;
    color:white;
}


/* MODALS DE LAS CARDS */
.letra-modalBody{
    font-size: 25px;
    padding: 30px;
}
.letra-modalTitle{
    font-size: 30px;
    padding: 20px;
}
.modal-content{
    border-radius: 20px !important;
}