.login-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}
.login-title {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-size: 1.5rem;
  width: 100%;
}

.login-form {
  width: 800px;
  display: flex;
  justify-content: start;
}

.login-row {
  margin-top: 1rem;
  width: 800px;
}
.login-row-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.button-class {
  margin-left: 0rem;
  width: 800px;
}

.link-row {
  margin-top: 0rem !important;
  margin-bottom: 2rem !important;
  padding: 0rem !important;
  width: 100%;
}

@media only screen and (max-width: 990px) {
  .login-row {
    width: 340px;
  }
  .link-row {
    width: 340px;
    padding: 0rem !important;
    margin-left: 1rem;
  }
  .login-row-form {
    width: 340px;
  }
  .name-div {
    width: 340px;
  }
  .lastname-div {
    width: 340px;
    margin-top: 20px;
    margin-left: 0px;
  }
  .group-div {
    margin-left: 0.5rem;
  }

  .button-class {
    margin-left: 0.5rem;
    margin-bottom: 1rem;
  }
}

.swal-overlay {
  margin-top: -300px;
}

.swal-footer {
  background-color: rgb(245, 248, 250);
  margin-top: 32px;
  border-top: 1px solid #e9eef1;
  overflow: hidden;
}

@media only screen and (min-width: 990px) {
  .login-row-form {
    width: 800px;
  }
}
