/* CSS Navbar */

.apple-icon {
  color: #f5f5f7;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.bag-icon {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: -2px;
}

.bag-icon,
nav-link,
svg {
  color: #f5f5f7;
}

.bag-icon,
nav-link,
svg:hover {
  color: gray;
}

.div-container-nav {
  display: flex;
  width: 500px;
  margin: auto;
}

.nav-font {
  font-family: "Montserrat", sans-serif;
}
.fondo-pag{
  background-color: #f5f5f7;
}