body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* NAVBAR ADMIN STYLE */

.navbar-admin {
  background-color: rgb(201, 25, 25);
}

/* NAVBAR STYLE SUBRAYADO */

.navstyle {
  position: relative;
  color: white;
  margin: 0px 5px;
  width: 90px !important;
}

.navstyle:after {
  position: absolute;
  bottom: 7px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: white;
  content: "";
  opacity: 0;
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
  transform: translateY(20px);
}

.navstyle:hover:after {
  opacity: 1;
  transform: translateY(5px);
}

@media only screen and (max-width: 990px) {
  .navstyle-mac:after {
    width: 60px;
  }
  .navstyle-ipad:after {
    width: 60px;
  }
  .navstyle-iphone:after {
    width: 70px;
  }
  .navstyle-about:after {
    width: 95px;
  }
  .navstyle-about {
    width: 110px !important;
  }
  .navstyle-admin {
    width: 90px !important;
  }
  .navstyle-shopcart {
    width: 70px !important;
    margin-top: 10px !important;
    margin-left: 15px !important;
  }
}

@media only screen and (min-width: 990px) {
  .navstyle-mac {
    width: 80px !important;
  }
  .navstyle-ipad {
    width: 80px !important;
  }
  .navstyle-about {
    width: 110px !important;
  }
  .navstyle-admin {
    width: 90px !important;
  }
  .navstyle-shopcart {
    width: 70px !important;
    margin-left: 15px !important;
  }
} ;
